@import "../../styles/webSharedStyles.scss";

.button {
  padding: $sizeXS;
  border-radius: $borderRadiusS;
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $colorAccentSilver;
  }

  &.primary {
    background-color: $colorSecondary;
    color: $colorTextOppositePrimary;
  }

  &.secondary {
    border: 2px solid black;
    color: $colorTextPrimary;
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
  }
}

.leftIcon {
}

.rightIcon {
}
