@import "../../styles/uiBase.scss";

.dropArea {
  padding: 2rem;
  border: 2px dashed $colorInfo;
  border-radius: $sizeS;
  background-color: $baseColorDark2;
  text-align: center;
}

.uploadContent {
  p {
    font-size: $fontSizeM;
    font-weight: bold;
  }
}

.uploadIcon {
  font-size: 4rem;
}

.previewThumbs {
  width: 90%;
}
