@import "../../styles/uiBase.scss";

.footer {
  padding: $sizeL $sizeXL $sizeXL $sizeXL;
  justify-content: space-between;

  @include mobileVW() {
    padding: $sizeS;
    justify-content: center;
  }

  a {
    color: rgba(black, 0.5);
    transition: $transition;

    &:hover {
      color: rgba(black, 0.9);
      text-decoration: none;
    }
  }
}
