@import "mixins";
@import "vars";
// =============================================================================
// Base colors
// =============================================================================
$baseColorSoftBlue: #89abe3;
$baseColorUltraSoftBlue: #e6e7eb;
$baseColorMediumLavender: #d8bfd8;
$baseColorRichLavender: #9966cc;
$baseColorRoseGold: #b76e79;
$baseColorSoftPink: #ffc0cb;
$baseColorGold: #ffd700;
$baseColorSilver: #c0c0c0;
$baseColorDarkGrey: #333333;
$baseColorBlack: rgb(0, 0, 0);
@function BaseColorBlackFaded($a) {
  @return rgba(0, 0, 0, $a);
}
$baseColorWhite: #ffffff;
$baseColorGrey: #f4f4f4;
$baseColorSoftRed: #ff6b6b;
$baseColorSoftGreen: #4caf50;

// =============================================================================
// Site Colors
// =============================================================================
// Background
$colorBackgroundVar: --color-background;
$colorBackground: var(#{$colorBackgroundVar});
// @include SetRootValue($colorBackgroundVar, $baseColorWhite);
@include SetRootValue($colorBackgroundVar, $baseColorUltraSoftBlue);

// Primary
$colorPrimaryVar: --color-primary;
$colorPrimary: var(#{$colorPrimaryVar});
@include SetRootValue($colorPrimaryVar, $baseColorSoftBlue);

// Secondary
$colorSecondaryVar: --color-secondary;
$colorSecondary: var(#{$colorSecondaryVar});
@include SetRootValue($colorSecondaryVar, $baseColorRoseGold);

// Accent
$colorAccentSilverVar: --color-accent-silver;
$colorAccentSilver: var(#{$colorAccentSilverVar});
@include SetRootValue($colorAccentSilverVar, $baseColorSilver);

$colorAccentGoldVar: --color-accent-gold;
$colorAccentGold: var(#{$colorAccentGoldVar});
@include SetRootValue($colorAccentGoldVar, $baseColorGold);

// Text
$colorTextPrimaryVar: --color-text-primary;
$colorTextPrimary: var(#{$colorTextPrimaryVar});
@include SetRootValue($colorTextPrimaryVar, $baseColorBlack);

$colorTextSecondaryVar: --color-text-secondary;
$colorTextSecondary: var(#{$colorTextSecondaryVar});
@include SetRootValue($colorTextSecondaryVar, $baseColorDarkGrey);

$colorTextOppositePrimaryVar: --color-text-opposite-primary;
$colorTextOppositePrimary: var(#{$colorTextOppositePrimaryVar});
@include SetRootValue($colorTextOppositePrimaryVar, $baseColorWhite);

// Status indicators
$colorSuccessVar: --color-success;
$colorSuccess: var(#{$colorSuccessVar});
@include SetRootValue($colorSuccessVar, $baseColorSoftGreen);

$colorDangerVar: --color-error;
$colorDanger: var(#{$colorDangerVar});
@include SetRootValue($colorDangerVar, $baseColorSoftRed);

$colorInfoVar: --color-info;
$colorInfo: var(#{$colorInfoVar});
@include SetRootValue($colorInfoVar, $baseColorSoftBlue);

// Overlay
$darkOverlayVar: --dark-overlay;
$darkOverlay: var(#{$darkOverlayVar});
@include SetRootValue($darkOverlayVar, rgb(0 0 0 / 0.5));

// Box Shadow
$darkBoxShadowVar: --dark-box-shadow;
$darkBoxShadow: var(#{$darkBoxShadowVar});
@include SetRootValue($darkBoxShadowVar, #{0 0 3rem BaseColorBlackFaded(0.25)});

$raisedBoxShadowVar: --raised-box-shadow;
$raisedBoxShadow: var(#{$raisedBoxShadowVar});
@include SetRootValue(
  $raisedBoxShadowVar,
  #{-1rem -1rem $sizeL rgba($baseColorWhite, 0.5),
  1rem 1rem $sizeL rgba(black, 0.25)}
);

// Oher
$colorDarkFadeVar: --color-dark-fade;
$colorDarkFade: var(#{$colorDarkFadeVar});
@include SetRootValue($colorDarkFadeVar, rgb(#{$colorTextPrimary} / 0.15));

$colorTextFadedPrimaryVar: --color-text-faded-primary;
$colorTextFadedPrimary: var(#{$colorTextFadedPrimaryVar});
@include SetRootValue($colorTextFadedPrimaryVar, BaseColorBlackFaded(0.6));
