// =============================================================================
// Font size
// =============================================================================
$fontSizeXXLVar: --font-size-xxl;
$lineHeightXXLVar: --line-height-xxl;
$fontSizeXXL: var(#{$fontSizeXXLVar});
$lineHeightXXL: var(#{$lineHeightXXLVar});
@include SetRootValue($fontSizeXXLVar, 4.4rem);
@include SetRootValue($lineHeightXXLVar, 5rem);
@mixin FontSizeXXL {
  font-size: $fontSizeXXL;
  line-height: $lineHeightXXL;
}

$fontSizeXLVar: --font-size-xl;
$lineHeightXLVar: --line-height-xl;
$fontSizeXL: var(#{$fontSizeXLVar});
$lineHeightXL: var(#{$lineHeightXLVar});
@include SetRootValue($fontSizeXLVar, 2.8rem);
@include SetRootValue($lineHeightXLVar, 4rem);
@mixin FontSizeXL {
  font-size: $fontSizeXL;
  line-height: $lineHeightXL;
}

$fontSizeLVar: --font-size-l;
$lineHeightLVar: --line-height-l;
$fontSizeL: var(#{$fontSizeLVar});
$lineHeightL: var(#{$lineHeightLVar});
@include SetRootValue($fontSizeLVar, 1.8rem);
@include SetRootValue($lineHeightLVar, 2rem);
@mixin FontSizeL {
  font-size: $fontSizeL;
  line-height: $lineHeightL;
}

$fontSizeMVar: --font-size-m;
$lineHeightMVar: --line-height-m;
$fontSizeM: var(#{$fontSizeMVar});
$lineHeightM: var(#{$lineHeightMVar});
@include SetRootValue($fontSizeMVar, 1.5rem);
@include SetRootValue($lineHeightMVar, 2rem);
@mixin FontSizeM {
  font-size: $fontSizeM;
  line-height: $lineHeightM;
}

$fontSizeSVar: --font-size-s;
$lineHeightSVar: --line-height-s;
$fontSizeS: var(#{$fontSizeSVar});
$lineHeightS: var(#{$lineHeightSVar});
@include SetRootValue($fontSizeSVar, 1.4rem);
@include SetRootValue($lineHeightSVar, 2rem);
@mixin FontSizeS {
  font-size: $fontSizeS;
  line-height: $lineHeightS;
}

$fontSizeXSVar: --font-size-xs;
$lineHeightXSVar: --line-height-xs;
$fontSizeXS: var(#{$fontSizeXSVar});
$lineHeightXS: var(#{$lineHeightXSVar});
@include SetRootValue($fontSizeXSVar, 1.2rem);
@include SetRootValue($lineHeightXSVar, 1.5rem);
@mixin FontSizeXS {
  font-size: $fontSizeXS;
  line-height: $lineHeightXS;
}

// =============================================================================
// Font family
// =============================================================================
$fontFamilyPrimaryVar: --font-family-primary;
$fontFamilyPrimary: var(#{$fontFamilyPrimaryVar});
@include SetRootValue($fontFamilyPrimaryVar, #{Arial, Helvetica, sans-serif});
