// =============================================================================
// Font size
// =============================================================================
$fontSizeXXLVar: --font-size-xxl;
$lineHeightXXLVar: --line-height-xxl;
$fontSizeXXL: var(#{$fontSizeXXLVar});
$lineHeightXXL: var(#{$lineHeightXXLVar});
@mixin FontSizeXXL {
  font-size: $fontSizeXXL;
  line-height: $lineHeightXXL;
}

$fontSizeXLVar: --font-size-xl;
$lineHeightXLVar: --line-height-xl;
$fontSizeXL: var(#{$fontSizeXLVar});
$lineHeightXL: var(#{$lineHeightXLVar});
@mixin FontSizeXL {
  font-size: $fontSizeXL;
  line-height: $lineHeightXL;
}

$fontSizeLVar: --font-size-l;
$lineHeightLVar: --line-height-l;
$fontSizeL: var(#{$fontSizeLVar});
$lineHeightL: var(#{$lineHeightLVar});
@mixin FontSizeL {
  font-size: $fontSizeL;
  line-height: $lineHeightL;
}

$fontSizeMVar: --font-size-m;
$lineHeightMVar: --line-height-m;
$fontSizeM: var(#{$fontSizeMVar});
$lineHeightM: var(#{$lineHeightMVar});
@mixin FontSizeM {
  font-size: $fontSizeM;
  line-height: $lineHeightM;
}

$fontSizeSVar: --font-size-s;
$lineHeightSVar: --line-height-s;
$fontSizeS: var(#{$fontSizeSVar});
$lineHeightS: var(#{$lineHeightSVar});
@mixin FontSizeS {
  font-size: $fontSizeS;
  line-height: $lineHeightS;
}

$fontSizeXSVar: --font-size-xs;
$lineHeightXSVar: --line-height-xs;
$fontSizeXS: var(#{$fontSizeXSVar});
$lineHeightXS: var(#{$lineHeightXSVar});
@mixin FontSizeXS {
  font-size: $fontSizeXS;
  line-height: $lineHeightXS;
}

// =============================================================================
// Font family
// =============================================================================
$fontFamilyPrimaryVar: --font-family-primary;
$fontFamilyPrimary: var(#{$fontFamilyPrimaryVar});

$fontFamilyRoboto: "Roboto";

@mixin SetFontPartialValues() {
  :root {
    #{$fontSizeXXLVar}: 2.8rem;
    #{$lineHeightXXLVar}: 3.3rem;
    #{$fontSizeXLVar}: 2.2rem;
    #{$lineHeightXLVar}: 2.7rem;
    #{$fontSizeLVar}: 1.85rem;
    #{$lineHeightLVar}: 2.1rem;
    #{$fontSizeMVar}: 1.4rem;
    #{$lineHeightMVar}: 1.9rem;
    #{$fontSizeSVar}: 1.1rem;
    #{$lineHeightSVar}: 1.6rem;
    #{$fontSizeXSVar}: 0.75rem;
    #{$lineHeightXSVar}: 1rem;
    #{$fontFamilyPrimaryVar}: #{$fontFamilyRoboto}, Arial, Helvetica, sans-serif;
  }
}
