// ======================================================================================================
// SIZE
// ======================================================================================================
// XXL
$sizeXXLVar: --size-xxl;
$sizeXXLarge: var(#{$sizeXXLVar});
@include SetRootValue($sizeXXLVar, 3rem);
// XL
$sizeXLVar: --size-xl;
$sizeXL: var(#{$sizeXLVar});
@include SetRootValue($sizeXLVar, 2.5rem);
// L
$sizeLVar: --size-l;
$sizeL: var(#{$sizeLVar});
@include SetRootValue($sizeLVar, 2rem);
// M
$sizeMVar: --size-m;
$sizeM: var(#{$sizeMVar});
@include SetRootValue($sizeMVar, 1.5rem);
// S
$sizeSVar: --size-s;
$sizeS: var(#{$sizeSVar});
@include SetRootValue($sizeSVar, 1rem);
// XS
$sizeXSVar: --size-xs;
$sizeXS: var(#{$sizeXSVar});
@include SetRootValue($sizeXSVar, 0.5rem);
// XXS
$sizeXXSVar: --size-xxs;
$sizeXXS: var(#{$sizeXXSVar});
@include SetRootValue($sizeXXSVar, 0.25rem);

$sizeMap: (
  "xxl": $sizeXXLarge,
  "xl": $sizeXL,
  "l": $sizeL,
  "m": $sizeM,
  "s": $sizeS,
  "xs": $sizeXS,
  "xxs": $sizeXXS,
);

// ======================================================================================================
// Borders
// ======================================================================================================
// L
$borderRadiusLVar: --border-radius-l;
$borderRadiusL: var(#{$borderRadiusLVar});
@include SetRootValue($borderRadiusLVar, 1rem);
// M
$borderRadiusMVar: --border-radius-m;
$borderRadiusM: var(#{$borderRadiusMVar});
@include SetRootValue($borderRadiusMVar, 0.5rem);
// S
$borderRadiusSVar: --border-radius-s;
$borderRadiusS: var(#{$borderRadiusSVar});
@include SetRootValue($borderRadiusSVar, 0.25rem);
// XS
$borderRadiusXSVar: --border-radius-xs;
$borderRadiusXS: var(#{$borderRadiusXSVar});
@include SetRootValue($borderRadiusXSVar, 0.125rem);

// ======================================================================================================
// Forms
// ======================================================================================================
$checkboxHeightVar: --checkbox-height;
$checkboxHeight: var(#{$checkboxHeightVar});
@include SetRootValue($checkboxHeightVar, 1.5rem);

$radioInnerScaleVar: --radio-inner-size;
$radioInnerScale: var(#{$radioInnerScaleVar});
@include SetRootValue($radioInnerScaleVar, 0.7);
