// ======================================================================================================
// SIZE
// ======================================================================================================
// XXL
$sizeXXLVar: --size-xxl;
$sizeXXL: var(#{$sizeXXLVar});
// XL
$sizeXLVar: --size-xl;
$sizeXL: var(#{$sizeXLVar});
// L
$sizeLVar: --size-l;
$sizeL: var(#{$sizeLVar});
// M
$sizeMVar: --size-m;
$sizeM: var(#{$sizeMVar});
// S
$sizeSVar: --size-s;
$sizeS: var(#{$sizeSVar});
// XS
$sizeXSVar: --size-xs;
$sizeXS: var(#{$sizeXSVar});
// XXS
$sizeXXSVar: --size-xxs;
$sizeXXS: var(#{$sizeXXSVar});

$sizeMap: (
  "xxl": $sizeXXL,
  "xl": $sizeXL,
  "l": $sizeL,
  "m": $sizeM,
  "s": $sizeS,
  "xs": $sizeXS,
  "xxs": $sizeXXS,
);

// ======================================================================================================
// Borders
// ======================================================================================================
// L
$borderRadiusLVar: --border-radius-l;
$borderRadiusL: var(#{$borderRadiusLVar});
// M
$borderRadiusMVar: --border-radius-m;
$borderRadiusM: var(#{$borderRadiusMVar});
// S
$borderRadiusSVar: --border-radius-s;
$borderRadiusS: var(#{$borderRadiusSVar});
// XS
$borderRadiusXSVar: --border-radius-xs;
$borderRadiusXS: var(#{$borderRadiusXSVar});

// Form borders
$formInputBorderVar: --form-input-border;
$formInputBorder: var(#{$formInputBorderVar});

// ======================================================================================================
// Forms
// ======================================================================================================
$checkboxHeightVar: --checkbox-height;
$checkboxHeight: var(#{$checkboxHeightVar});

$radioInnerScaleVar: --radio-inner-size;
$radioInnerScale: var(#{$radioInnerScaleVar});

// ======================================================================================================
// Z Index
// ======================================================================================================
$zIndexModalVar: --z-index-modal;
$zIndexModal: var(#{$zIndexModalVar});

$zIndexHeaderVar: --z-index-header;
$zIndexHeader: var(#{$zIndexHeaderVar});

$zIndexToastVar: --z-index-toast;
$zIndexToast: var(#{$zIndexToastVar});

$zIndexLoadingSpinnerVar: --z-index-loading-spinner;
$zIndexLoadingSpinner: var(#{$zIndexLoadingSpinnerVar});

// ======================================================================================================
// Widths
// ======================================================================================================
$maxWidthXLVar: --max-width-xl;
$maxWidthXL: var(#{$maxWidthXLVar});

$maxWidthLVar: --max-width-l;
$maxWidthL: var(#{$maxWidthLVar});

$maxWidthMVar: --max-width-m;
$maxWidthM: var(#{$maxWidthMVar});

$maxWidthSVar: --max-width-s;
$maxWidthS: var(#{$maxWidthSVar});

$pageContentWidthVar: --page-content-width;
$pageContentWidth: var(#{$pageContentWidthVar});

// ======================================================================================================
// Transitions
// ======================================================================================================
$transitionVar: --transition;
$transition: var(#{$transitionVar});

$transitionSlowVar: --transition-slow;
$transitionSlow: var(#{$transitionSlowVar});

$transitionLinearVar: --transition-linear;
$transitionLinear: var(#{$transitionLinearVar});

// ======================================================================================================
// Aspect ratio
// ======================================================================================================
$aspectRatioPadding1080: 56.25%;

// ======================================================================================================
// Spacing
// ======================================================================================================
$listCardsPerRowVar: --list-cards-per-row;
$listCardsPerRow: var(#{$listCardsPerRowVar});

$listFlexGapVar: --list-flex-gap;
$listFlexGap: var(#{$listFlexGapVar});

$pageVerticalPaddingVar: --page-vertical-padding;
$pageVerticalPadding: var(#{$pageVerticalPaddingVar});

$pageHorizontalPaddingVar: --page-horizontal-padding;
$pageHorizontalPadding: var(#{$pageHorizontalPaddingVar});

@mixin SetVarsPartialValues() {
  :root {
    #{$sizeXXLVar}: 3rem;
    #{$sizeXLVar}: 2.5rem;
    #{$sizeLVar}: 2rem;
    #{$sizeMVar}: 1.5rem;
    #{$sizeSVar}: 1rem;
    #{$sizeXSVar}: 0.5rem;
    #{$sizeXXSVar}: 0.25rem;
    #{$borderRadiusLVar}: 1rem;
    #{$borderRadiusMVar}: 0.5rem;
    #{$borderRadiusSVar}: 0.25rem;
    #{$borderRadiusXSVar}: 0.125rem;
    #{$checkboxHeightVar}: 1.5rem;
    #{$radioInnerScaleVar}: 0.7;
    #{$zIndexModalVar}: 1000;
    #{$zIndexHeaderVar}: 950;
    #{$zIndexToastVar}: 900;
    #{$zIndexLoadingSpinnerVar}: 850;
    #{$maxWidthXLVar}: 70rem;
    #{$maxWidthLVar}: 50rem;
    #{$maxWidthMVar}: 40rem;
    #{$maxWidthSVar}: 25rem;
    #{$pageContentWidthVar}: 90%;
    #{$transitionVar}: all 0.15s;
    #{$transitionSlowVar}: all 0.3s;
    #{$transitionLinearVar}: all 0.15s linear;
    #{$listCardsPerRowVar}: 4;
    #{$listFlexGapVar}: $sizeL;
    #{$pageVerticalPaddingVar}: $sizeL;
    #{$pageHorizontalPaddingVar}: $sizeL;
    #{$formInputBorderVar}: 2px solid $colorBorderGray;
  }
}
