@import "./webSharedStyles.scss";

@include SetVarsPartialValues();
@include SetColorsPartialValues();
@include SetFontPartialValues();

* {
  @include nonMobileNonTouchDevice() {
    @include ScrollbarWidth();
    @include ScrollbarThumb();
    @include ScrollbarTrack();
  }
}

html {
  color: $colorTextDefault;
}

html,
body,
#root {
  height: 100%;
}

p,
h4,
h5,
h6,
a,
li,
input,
textarea,
label,
button,
select {
  @include FontSizeS();
}

html * {
  font-family: $fontFamilyPrimary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1,
h2 {
  color: $colorTextHeadingPrimary;
}

h3,
h4,
h5,
h6 {
  color: $colorTextHeadingSecondary;
}

h1 {
  @include FontSizeXXL();

  @include mobileVW() {
    @include FontSizeXL();
  }
}

h2 {
  @include FontSizeXL();
}

h3 {
  @include FontSizeM();
}

small {
  @include FontSizeXS();
  color: $colorTextSecondary;
}

a {
  color: $colorSecondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input::placeholder {
  font-style: italic;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Ensures that autofill styles don't get applied while user is still on page */
  transition: all 99999s 99999s, border-color 0.25s;
}
