@import "../../styles/uiBase.scss";

.appLayout {
}

.overlay {
  background-color: BaseColorBlackFaded(0.5);

  &.hide {
    opacity: 0;
  }
}

.mobileNav {
  box-shadow: $darkBoxShadow;

  &.hide {
    box-shadow: none;
  }
}
