@import "../../styles/webSharedStyles.scss";

.content {
  position: relative;
  max-width: $largeVW;
  width: 100%;
  margin: 0 auto;

  &.stretch {
    max-width: none;
  }

  &.topPadding {
    padding-top: $pageVerticalPadding;
  }

  &.bottomPadding {
    padding-bottom: $pageVerticalPadding;
  }

  &.leftPadding {
    padding-left: $pageHorizontalPadding;
  }

  &.rightPadding {
    padding-right: $pageHorizontalPadding;
  }
}
