@import "../../styles/webSharedStyles.scss";

$containerPadding: $sizeM;
$containerBorderRadius: $borderRadiusM;

$headerBgColor: $baseColorDark1;
$bgColor: $baseColorDark2;

.container {
  width: 100%;
  border-radius: $containerBorderRadius;
  box-shadow: $raisedBoxShadow;
  box-shadow: 0 0 1.5rem rgba(black, 0.9);
  #{$colorBackgroundVar}: $baseColorDark3;
  background-color: $bgColor;

  &.hasFooter {
  }

  &:not(.hasFooter) {
    .content {
      border-bottom-left-radius: $containerBorderRadius;
      border-bottom-right-radius: $containerBorderRadius;
    }
  }
}

.header {
  padding: $containerPadding;
  border-top-right-radius: $containerBorderRadius;
  border-top-left-radius: $containerBorderRadius;
  border-bottom: 1px solid rgb(44, 51, 63);
  #{$colorBackgroundVar}: $baseColorDark2;
  background-color: $headerBgColor;
}

.content,
.footer {
  padding: $containerPadding;
}

.content {
}

.footer {
  border-top: 1px solid rgb(44, 51, 63);
  border-bottom-left-radius: $containerBorderRadius;
  border-bottom-right-radius: $containerBorderRadius;
}
