@import "../../styles/webSharedStyles.scss";

$containerPadding: $sizeM;
$containerBorderRadius: $borderRadiusM;
$containerBorder: 1px solid gray;

.container {
  width: 100%;
  border-radius: $containerBorderRadius;
  box-shadow: $raisedBoxShadow;

  &.hasFooter {
  }

  &:not(.hasFooter) {
    .content {
      border-bottom-left-radius: $containerBorderRadius;
      border-bottom-right-radius: $containerBorderRadius;
    }
  }
}

.header {
  padding: $containerPadding;
  border-top-right-radius: $containerBorderRadius;
  border-top-left-radius: $containerBorderRadius;
  border-left: $containerBorder;
  border-right: $containerBorder;
  border-top: $containerBorder;
  #{$colorBackgroundVar}: rgb(199, 199, 199);
  background-color: $colorBackground;
}

.content,
.footer {
  border-left: $containerBorder;
  border-right: $containerBorder;
  border-bottom: $containerBorder;
  padding: $containerPadding;
}

.content {
}

.footer {
  border-bottom-left-radius: $containerBorderRadius;
  border-bottom-right-radius: $containerBorderRadius;
}
