@import "../../styles/uiBase.scss";

.header {
  justify-content: space-between;
  padding: $sizeS $sizeM;
  background-color: $colorBackground;
  border-bottom: 1px solid $baseColorSilver;
  z-index: $zIndexHeader;

  // TEMP
  button {
  }
}

.temp {
  font-size: $fontSizeL;
  font-weight: bold;
  line-height: initial;
}
