@import "../../styles/uiBase.scss";

.header {
  justify-content: space-between;
  padding: $sizeS $sizeM;
  background-color: $colorBackground;
  box-shadow: 0 0 1rem rgba(black, 0.5);
  z-index: $zIndexHeader;

  // TEMP
  button {
  }
}

.temp {
  font-size: $fontSizeL;
  font-weight: bold;
  line-height: initial;
}
