@import "../../styles/webSharedStyles.scss";

.form {
  @include notMobileVW() {
    padding: $sizeXL;
    border-radius: $borderRadiusL;
    box-shadow: $darkBoxShadow;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  .errorMsg {
    font-weight: bold;
    color: $colorDanger;
  }
}
