@import "../../styles/webSharedStyles.scss";

.thumbnail {
  position: relative;
  width: 20rem;
  border-radius: $borderRadiusM;
  border: 2px solid gray;
  overflow: hidden;

  .img {
    transition: $transition;
  }

  &:hover {
    .img {
      transform: scale(1.1);
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $sizeS;
  z-index: 2;
  pointer-events: none;

  .title {
    @include FontSizeS();
    font-weight: bold;
    padding: $sizeXXS $sizeXS;
    background-color: rgba(white, 0.85);
    border: 2px solic gray;
    border-radius: $sizeL;
  }
}
