@import "../../styles/webSharedStyles.scss";

$topSpacer: 1px;

.options,
.option {
  border-radius: $borderRadiusM;
}

.options {
  width: 100%;
  z-index: 10;
  overflow: auto;
  max-height: 40vh;

  &.fixed {
    width: initial;
    position: absolute;
    bottom: calc($topSpacer * -1);
    left: 0;
    right: 0;
    transform: translateY(100%);
  }

  &.empty {
    display: none;
  }

  &:not(.fixed) {
    margin-top: $topSpacer;
  }

  &.normal {
    background-color: $colorBackground;
    border: 2px solid black;
  }

  &.raised {
    background-color: #dddfe6;
    box-shadow: $raisedBoxShadow;
  }
}

.option {
  width: 100%;
  display: block;
  padding: $sizeS;
  color: $baseColorBlack;

  &:hover,
  &:focus {
    background-color: $baseColorSilver;
    text-decoration: none;
    outline: none;
  }
}
